body {
    text-align: center;
    width: 60%;
    margin: 0 auto;
}

#timer {
    font-size: 20px;
}

#result {
    color: blue;
    font-size: 20px;
}

#questions {
    width: 80%;
    margin: 0 auto;
}

.question {
    margin-bottom: 50px;
    font-size: 24px;
}

.answer {
    font-size: 18px;
}